@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_AdminLayoutHeaderViewComponentPartial")

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        @await Component.InvokeAsync("_AdminLayoutSpinerComponentPartial")
        @await Component.InvokeAsync("_AdminLayoutSideBarViewComponentPartial")
        <div class="content">
            @await Component.InvokeAsync("_AdminLayoutNavbarViewComponentPartial")
            @RenderBody()
            @await Component.InvokeAsync("_AdminLayoutFooterViewComponentPartial")
        </div>
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    @await Component.InvokeAsync("_AdminLayoutScriptViewComponentPartial")
</body>
</html>

